@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #ffffff;
    background-color: black;
    font-family: "Inter", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities{
  .text-gradient {
    background: linear-gradient(136deg,rgba(37, 99, 235, 1) 0%, rgba(249, 115, 22, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }




}
